html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.blogPostsHeader {
    font-size: 3em;
}

.blogPostsSubHeader {
    font-size: 2em;
}

.blogPostsPinkHeader {
    color: deeppink;
    font-weight: bold;
}

.mainImg {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.blogCard {
    width: 100%;
}

.blogImg {
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.blogDetailImg {
    width: 100%;
    height: 30em;
    object-fit: cover;
    border-color: grey;
    border-style: solid;
    border-width: thin;
}

.pinkText {
    color: deeppink;
}

.blogDate {
    font-size: 12px;
    font-weight: bold;
    color: darkslategrey;
}

.instagramButton {
    background-color: #F44747;
    color: white;
}

.facebookButton {
    background-color: #4267B2;
    color: white;
}

.btn-mainColor {
    background-color: deeppink;
    color: white;
}

.reactIcon {
    font-size: 25px;
    color: grey;
}

.reactCount {
    font-size: 25px;
    color: grey;
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: deeppink !important;
    border-color: deeppink !important;
}

.reacted {
    color: deeppink;
}

.blogTitle {
    line-height: 1.5em;
    height: 1.5em; /* height is 2x line-height, so two lines will display */
    overflow: hidden;
}
