@{
	ViewData["Title"] = "Home Page";
}

<div class="container text-center">
	<div class="row mt-5">
		<div class="col-md-6 sm-12 text-start">
			<div>
				<p class="blogPostsHeader">
					<span class="blogPostsPinkHeader">CBlog</span>
				</p>
			</div>
			<div>
				<p class="blogPostsHeader">I think so, this is it.</p>
			</div>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div>
				<button class="btn instagramButton"><i class="bi bi-instagram"></i> Instagram</button>
				<button class="btn facebookButton"><i class="bi bi-facebook"></i> Facebook</button>
			</div>
		</div>
		<div class="col-md-6 sm-12">
			<img class="mainImg" src="https://img.freepik.com/free-vector/happy-freelancer-with-computer-home-young-man-sitting-armchair-using-laptop-chatting-online-smiling-vector-illustration-distance-work-online-learning-freelance_74855-8401.jpg?size=626&ext=jpg" />
		</div>
	</div>
	<div class="mt-5">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#">All</a>
			</li>
			<li class="nav-item">
				<a class="nav-link pinkText" href="#">My Blogs</a>
			</li>
		</ul>
	</div>
	<div class="row mt-5 text-start">
		<div class="col-lg-4 md-6 sm-12 mb-3">
			<div class="card blogCard">
				<img class="blogImg" src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text blogDate">Nov 23, 2020</p>
					<h5 class="card-title pinkText">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="pinkText">READ MORE</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 md-6 sm-12 mb-3">
			<div class="card blogCard">
				<img class="blogImg" src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text blogDate">Nov 23, 2020</p>
					<h5 class="card-title pinkText">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="pinkText">READ MORE</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 md-6 sm-12 mb-3">
			<div class="card blogCard">
				<img class="blogImg" src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text blogDate">Nov 23, 2020</p>
					<h5 class="card-title pinkText">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="pinkText">READ MORE</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 md-6 sm-12 mb-3">
			<div class="card blogCard">
				<img class="blogImg" src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text blogDate">Nov 23, 2020</p>
					<h5 class="card-title pinkText">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="pinkText">READ MORE</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 md-6 sm-12 mb-3">
			<div class="card blogCard">
				<img class="blogImg" src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text blogDate">Nov 23, 2020</p>
					<h5 class="card-title pinkText">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="pinkText">READ MORE</a>
				</div>
			</div>
		</div>
		<div class="col-lg-4 md-6 sm-12 mb-3">
			<div class="card blogCard">
				<img class="blogImg" src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<p class="card-text blogDate">Nov 23, 2020</p>
					<h5 class="card-title pinkText">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="pinkText">READ MORE</a>
				</div>
			</div>
		</div>
	</div>
</div>
